.Products {
  
    display: grid;
    grid-template-columns: repeat(3,1fr );
    gap: 2rem;

}

@media screen and (max-width: 900px) {
    .Products {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width :600px) {
    .Products {
        grid-template-columns: 1fr;
    }
}